extends common.pug

block body
  .container
    header
      nav
        a.site-title(href="/") Nicola Beirer's Blog
        ul.nav-links
          li: a(href="/") Home
          li: a(href="/about") About
          li: a(href="https://github.com/beirern", target="_blank") GitHub
          li: a(href="https://www.linkedin.com/in/nicolabeirer/", target="_blank") LinkedIn
          li: a(href="https://github.com/beirern/Personal-Website", target="_blank") Source Code

    block content