---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="About - Nicola Beirer's Blog">
	<div class="container">
		<h1>About Me</h1>
		<div class="about-content">
			<img class="profile-img" src={`${import.meta.env.BASE_URL}images/profile.jpg`} alt="Nicola Beirer" />
			<p>Hello! I'm a passionate developer who loves building things with code. This blog is where I share my projects, and what I've learned along the way. You will also find random posts about philosophy and my other thoughts.</p>
			<p>My main areas of interest include:</p>
			<ul>
				<li>System Architecture: going from code on your laptop to others!</li>
				<li>Containerization (Docker & Kubernetes)</li>
				<li>Running things on a Unix Server</li>
				<li>Random fun projects!</li>
			</ul>
			<p>When I'm not coding, you can find me doing jiu-jitsu, muay thai, cycling, playing sports, flying planes or philosophizing! At least this is what I was doing in San Francisco :)</p>
			<p>Feel free to reach out if you want to collaborate or have any questions about my projects or thoughts!</p>
		</div>
	</div>
</BaseLayout>

<style>
	.container {
		max-width: 800px;
		margin: 0 auto;
		padding: 2em 1em;
	}
	
	h1 {
		margin-bottom: 2em;
		font-size: 2.5rem;
		color: #333;
	}
	
	.about-content {
		line-height: 1.7;
		color: #444;
	}
	
	.profile-img {
		width: 200px;
		height: 200px;
		border-radius: 50%;
		object-fit: cover;
		float: left;
		margin: 0 2em 1em 0;
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	}
	
	.about-content p {
		margin-bottom: 1.2em;
	}
	
	.about-content ul {
		margin: 1.2em 0;
		padding-left: 2em;
	}
	
	.about-content li {
		margin-bottom: 0.5em;
	}
	
	@media (max-width: 768px) {
		.profile-img {
			width: 150px;
			height: 150px;
			float: none;
			display: block;
			margin: 0 auto 2em auto;
		}
	}
</style>