---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="About - Nicola Beirer's Blog">
	<h1>About Me</h1>
	<div class="about-content">
		<img class="profile-img" src="/images/profile.jpg" alt="Profile Image" />
		<p>Hello! I'm a passionate developer who loves building things with code. This blog is where I share my projects, and what I've learned along the way. You will also find random posts about philosophy and my other thoughts.</p>
		<p>My main areas of interest include:</p>
		<ul>
			<li>System Architecture: going from code on your laptop to others!</li>
			<li>Containerization (Docker & Kubernetes)</li>
			<li>Running things on a Unix Server</li>
			<li>Random fun projects!</li>
		</ul>
		<br />
		<p>When I'm not coding, you can find me doing jiu-jitsu, muay thai, cycling, playing sports, flying planes or philosophizing! At least this is what I was doing in San Francisco :)</p>
		<p>Feel free to reach out if you want to collaborate or have any questions about my projects or thoughts!</p>
	</div>
</BaseLayout>